.postImage {
    heigth: 250px;
    width: 250px;

}

.greenVote {
    color: green;
    font-weight:bold;
}
.redVote {
    color: red;
    font-weight:bold;
}

.zero{
    color: black;
    font-weight:bold;
}

.iconColor{

  color: grey;
}
