.postImage {
    heigth: 350px;
    width: 350px;

}

.greenVote {
    color: green;
    font-weight:bold;
}
.redVote {
    color: red;
    font-weight:bold;
}

.zero{
    color: black;
    font-weight:bold;
}

.iconColor{

  color: black;
}
.ng-enter {
  animation: fadeInRight .5s;
}

.ng-leave {
  animation: fadeOutRight .5s;
}
